.form-content {
  margin-top: 10vh;
  text-align: center;
}

.form-title {
  font-weight: bold;
  font-size: 44px;
  text-transform: uppercase;
}

.form-horizontal-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.radio-buttons > .label{
    padding: 5px 8px;
    margin: 30px 5px;
    display: flex;
    align-items: center;
}