.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.step-number {
  margin-right: 10px;
  border: 1px solid #211a1a;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #211a1a;
}

.step.active > .step-number {
  color: #0ad4db;
}

.step.done > .step-number {
  color: white;
}

.step.pending > .step-number {
    background-color: transparent;
}

.step.done, .step.pending {
  opacity: 0.4;
}

.step-text {
  text-transform: uppercase;
}

@media (max-width:750px){
  .step-text {
    font-size: 3vw;
  }
  .step-number{
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width:400px){
  .step-text {
    font-size: 4vw;
  }
  .step-number{
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}