.textfield-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0px 5px;
}

.textfield {
  border-radius: 0px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 0px;
  padding: 8px 2px;
  max-width: 300px;
  width: 300px;
  outline: none;
}

.label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 6px;
}

.textfield:focus {
  border: 2px solid #494efc;
  color: #494efc;
}

.textfield:focus + .label {
  color: #494efc;
  background-color: yellow;
}
